<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Rental car</title>
</head>
<style>
    form {
        border: 3px solid black;
    }

    td,tr {
        padding: 3px;
        border: 1px solid black;
    }
</style>
<body>
<div align="center">
    <a href="/car">car</a>
    <a href="/tenant">tenant</a>
    <a href="/body-type">body-type</a>
    <a href="/brand-car">brand-car</a>
    <a href="/city-car">city-car</a>
    <a href="/class-car">class-car</a>
    <a href="/transmission">transmission</a>
    <a href="/data">data</a>
</div>
<div align="center">
    <h3>Форма для добавления коробки передач</h3>
    <form method="post" action="/transmission/add" class="red_border">
        <p>Название коробки передач: <input type="text" name="nameTransmission"/></p>
        <p><input type="submit" value="Добавить"></p>
    </form>
    <p></p>
</div>
<p></p>
<div align="center" class="red_border">
    <h3>Форма для удаления коробки передач</h3>
    <form action="/transmission/delete" method="post">
        <select class="form-control" name="idTransmission">
            <option th:each="transmission : ${transmissions}"
                    th:value="${transmission.id}"
                    th:text="${transmission.name}">
            </option>
        </select>
        <button type="submit">Удалить</button>
    </form>
    <p></p>
</div>
<p></p>
<div align="center" class="red_border">
    <h3>Форма для обновления названия коробки передач</h3>
    <form action="/transmission/update" method="post" >
        <p></p>
        <select class="form-control" name="idTransmission">
            <option th:each="transmission : ${transmissions}"
                    th:value="${transmission.id}"
                    th:text="${transmission.name}">
            </option>
        </select>
        <p></p>
        <p><input type="text" name="nameTransmission"></p>
        <button type="submit">Изменить</button>
    </form>
    <p></p>
</div>
<p></p>
<div align="center">
    <h3>Все коробки передач</h3>
    <table>
        <thead>
        <tr>
            <th>Номер</th>
            <th>Название коробки передач</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transmission, iterStat : ${transmissions}"
            th:style="${iterStat.odd}? 'font-weight: bold;'" class="red_border">
            <td th:text="${iterStat.index}+1"></td>
            <td th:text="${transmission.name}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>